<div class="content clearfix">
  <div class="users_menu_box">
    <%= link_to( "商品登録", new_admin_product_path, :class => "botton admin_menu" ) %>
    <%= link_to( "新規管理者登録", new_admin_registration_path, :class => "botton admin_menu" ) %>
    <%= link_to( "購買履歴閲覧", orders_path, :class => "botton admin_menu" ) %>
    <%= link_to( "アカウント情報", admins_path, :class => "botton admin_menu" ) %>
    <%= link_to( "ログアウト", destroy_admin_session_path, method: :delete, :class => "botton admin_menu" ) %>
  </div>
  <div class="products_index">
    <p>商品一覧</p>
    <% @products.each do |product| %>
      <%= link_to admin_product_path(product) do %>
        <div class="product_box">
          <div class="product_title">
            <%= product.title %>
          </div>
          <div class="product_image">
            <%= attachment_image_tag product, :image_main, class: 'product-img' %>
          </div>
          <div class="product_price">
            ¥<%= product.price %>
          </div>
        </div>
      <% end -%>
    <% end %>
    <div class="pagenate">
      <%= paginate(@products) %>
    </div>
  </div>
</div>