<!DOCTYPE html>
<html>
  <head>
    <title>RRR</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% if admin_signed_in? %>

      <% if user_signed_in?  %>
        <header id="header" class="header clearfix">
          <div class="title">
            <h1>R・R・R</h1>
            <h3>~3つのRで資源を再利用~</h3>
          </div>
          <div class="link">
            <%= link_to( "トップページ", "/" ) %>
          </div>
          <div class="link">
            <%= link_to( "商品一覧", products_path ) %>
          </div>

          <%= link_to( "ログアウト", destroy_user_session_path, method: :delete, :class => "link" ) %>
        </header><!-- /header -->

      <% else %>

        <header id="header" class="header admin clearfix">
          <div class="admin_bar">
            <p>※管理者用</p>
          </div>
          <div class="title">
            <h1>R・R・R</h1>
            <h3>~3つのRで資源を再利用~</h3>
          </div>
          <div class="link">
            <%= link_to( "トップページ", admin_products_index_path ) %>
          </div>
          <div class="link">
            <%= link_to( "商品一覧", admin_products_path ) %>
          </div>
            <%= link_to( admin_session_path, :class => "admin_sign_in" ) do %>
              <p>こんにちは。<%= current_admin.name %>さん</p>
            <% end -%>
            <%= link_to( "ログアウト", destroy_admin_session_path, method: :delete, class: "link" ) %>
        </header><!-- /header -->

      <% end %>

    <% else %>

      <% if user_signed_in? %>
        <header id="header" class="header clearfix">
          <div class="title">
            <h1>R・R・R</h1>
            <h3>~3つのRで資源を再利用~</h3>
          </div>
          <div class="link">
            <%= link_to( "トップページ", "/" ) %>
          </div>
          <div class="link">
            <%= link_to( "商品一覧", products_path ) %>
          </div>
          <%= link_to( "ログアウト", destroy_user_session_path, method: :delete, :class => "link" ) %>
        </header><!-- /header -->
      <% else %>

        <header id="header" class="header clearfix">
          <div class="title">
            <h1>R・R・R</h1>
            <h3>~3つのRで資源を再利用~</h3>
          </div>
          <div class="link">
            <%= link_to( "トップページ", "/" ) %>
          </div>
          <div class="link">
            <%= link_to( "商品一覧", products_path ) %>
          </div>
          <div class="admin_sign_in">
            <%= link_to( "管理者はこちら", admin_session_path ) %>
          </div>
        </header><!-- /header -->
      <% end -%>

    <% end -%>
    <%= yield %>
  </body>
</html>